<div>
  <article class="relative minimalist divide-y">
  <h2>Career</h2>
    <div>
    <h4>2012-2015</h4>

    <h5>Politecnico di Torino</h5>
    Bachelor degree in Physisc Engineering
    </div>
      <hr>
    <div>
    <h4>2015-2018</h4>
    <h5>Politecnico di Torino</h5>

    Master degree in ICT for Smart Societies with the thesis "Desing and
    development of a novel smart-meter for improved Smart Grid management"

    </div>
      <hr>
    <div>
    <h4>2018-2019</h4>
    <h5>Politecnico di Torino</h5>
    <b>Assistant researcher for EDA group</b>
<p>
    I was involved into and H2020 project called RURITAGE – Heritage for Rural
    Regeneration (2018-2022). RURITAGE aims at creating an innovative rural
    regeneration paradigm based on Cultural and Natural Heritage, contributing
    to economic growth, social inclusion and environmental sustainability in
    rural areas. Within RURITAGE, I was in charge of designing and developing a
    distributed software platform to collect heterogeneous information about
    cultural heritage in rural areas. It provides: Key Performance Indicators
    (KPIs) to foster the regeneration process of such rural areas; Decision
    Support System to analyze textual data and provide possible solutions
    according to KPIs and user needs; Web GIS tool to visualize and interrogate
    geo-referenced data; Social app to post relevant photos taken by users in
    rural areas. I was also involved on another research activity focused on
    developing a next generation 3-phase smart meter for advanced smart grid
    management. This work started during my MSc thesis and has been published on
    paper titled “A Novel Internet-of-Things Infrastructure to Support
    Self-Healing Distribution Systems” and presented at the IEEE International
    Conference on Smart Energy Systems and Technologies (SEST 2018), Sevilla,
    Spain, 10-12 September 2018. This work aims at designing and developing a
    novel 3-phase smart meter, with the corresponding distributed software
    infrastructure, to support self-healing and self-configuration of power
    distribution networks allowing State Estimation, Network Reconfiguration and
    Fault Detection Isolation and Restoration. To test its features and
    functionality in a realistic test-bed environment, I exploited distributed
    both Hardware- and Software-In-the-Loop co-simulation approaches including a
    real-time simulator (OPAL-RT) to realistically replicate a portion of a
    real-world power network in Torino.

</p>
    </div>
      <hr>
    <div>
    <h4>2019-ongoing</h4>
    <h5>Politecnico di Torino</h5>

    <b>PhD student in Computer and Control Engineering</b>
    <br />
    <b
      >Assistant teacher for the Master Degree Course <i>Programming for IoT</i>
    </b>

<p>
    These 3-year activities allowed us to study the needs and the opportunities
    for the future of the Smart Grids. Among the wide set of topics offered by
    the Smart Grid paradigm, the research of the PhD activity focused on Smart
    Metering and Renewable Energy Communities. Regarding the first topic, the
    effort was directed toward the development of a 3-phase smart meter which
    included a set of functionalities targeted to the operator of the energy
    distribution system. This meter comes together with a communication
    infrastructure that enables the self-configuration and the auto-updated of
    the device. Moreover, the meter is capable of running non-trivial
    algorithms, both local and distributed, to increase the reliability and
    resilience of the grid, such as Fault-Location and State Estimation. The
    resulting smart meter is an extremely flexible and modular device that uses
    open source hardware and software but can be easily modified to include
    additional features, according to the necessities. Regarding the Renewable
    Energy Communities (REC), the focus of the activity resulted in the creation
    of a framework for the optimal placement of PV panels for an REC. This
    framework uses GIS technologies to identify an optimal configuration of PV
    modules by also taking into account the constraints and the advantages of
    the REC paradigm. Moreover, it also includes a realistic simulation of the
    yearly consumption of the inhabitants of the REC obtained by interpolating
    demographic data with energy consumption data. By using this tool, a group
    of citizens can perform a preemptive economic analysis to investigate the
    expected benefit of a potential creation of a Renewable Energy Community.</p>
    </div>
  </article>
</div>
