---
import avatar from "/avatar.jpg";
const { show = true } = Astro.props;
---

{
  show ? (
    <div class="flex flex-row flex-wrap ">
      <div class="w-full lg:w-1/2">
        <img src={avatar} class="avatar mx-0 rounded-full w-48" />
      </div>
      <div class="w-full lg:w-1/2">
        <h1>Matteo Orlando</h1>
        <li>Trofarello, TO, Italia</li>
        <li>
          <a href="mailto:matteo.orlando.1993@gmail.com">
            matteo.orlando.1993@gmail.com
          </a>
        </li>
        <li>
          <a href="matteodev.netlify.app">matteodev.netlify.app</a>
        </li>
      </div>
    </div>
  ) : (
    <div class="flex flex-row flex-wrap ">
      <div class="w-1/2">
        <img src={avatar} class="avatar mx-0 rounded-full w-48" />
      </div>
      <div class="w-1/2">
        <h1>Matteo Orlando</h1>
        <li>Trofarello, TO, Italia</li>
        <li>
          <a href="mailto:matteo.orlando.1993@gmail.com">
            matteo.orlando.1993@gmail.com
          </a>
        </li>
        <li>
          <a href="matteodev.netlify.app">matteodev.netlify.app</a>
        </li>
      </div>
    </div>
  )
}

<style>
  .avatar {
    margin-top: 0em !important;
    margin-bottom: 0em !important;
  }
  li {
    list-style: none;
  }
</style>
