---
import avatar from "/avatar.jpg";
---

<div class="grid grid-cols-2 p-2 xs:grid-cols-1">
  <div class="col-span-1 md:grid-cols-1">
    <h1>Matteo Orlando</h1>
    <ul style="list-style:none">
    <li>Trofarello, TO, Italia</li>
    <li>matteo.orlando.1993@gmail.com</li> 
    <li>matteodev.netlify.app</li>
      </ul>
  </div>
  <div class="col-span-1">
    <img src={avatar} class="avatar mx-0 rounded-full w-48" />
  </div>
</div>

<style>
.avatar {
  margin-top: 0em!important;
  margin-bottom: 0em!important;
}
</style>
