<div>
  <article class="relative minimalist">
  <h2>Projects</h2>
    <h4>2018-2021</h4>
    <h3>Ruritage</h3>
    <p>
      The RURITAGE project turns rural areas into laboratories to demonstrate
      natural and cultural heritage as an engine for regeneration. I was in
      charge of the development of the first version of the Ruritage Resource
      Ecosystem. This tool consisted in a full stack application that stored
      geographical data and metadata about the partecipants of the project and
      make it available to the public for visualization.
      <br />More info <a
        href="https://ruritage-ecosystem.eu/"
        target="_blank">ruritage-ecosystem.eu</a
      >
    </p>
    <hr />
    <h4>2021</h4>
    <h3>
      Development of a wearable IoT device for Covid-19 early diagnosis. di
      Torino
    </h3>
    <p>
      Cotutor of the thesis. <br />More info <a
        href="https://webthesis.biblio.polito.it/18004"
        target="_blank">here</a
      >
    </p>
    <hr />
    <h4>2021</h4>
    <h3>
      Development of a wearable device for monitoring vital parameters: SpO2,
      heart rate and temperature.
    </h3>
    <p>
      Cotutor of the thesis. <br />More info <a
        href="https://webthesis.biblio.polito.it/17594/"
        target="_blank">here</a
      >
    </p>

    <hr />
    <h4>2019-ongoing</h4>
    <h3>
      Design and development of distributed software platform to gather, manage
      and visualize multimedia clinical files
    </h3>
    <p>
      Cotutor of the thesis. <br />More info <a
        href="https://webthesis.biblio.polito.it/19637/"
        target="_blank">here</a
      >
    </p>
    <hr />
    <h4>2021-2022</h4>
    <h3>
      Parellelization of algorithms for solar radiation prediction by Hadoop and
      RasterFrames
    </h3>
      <p>
        Cotutor of the thesis. <br />More info <a
          href="https://webthesis.biblio.polito.it/25465/"
          target="_blank">here</a
        >
      </p>
  </article>
</div>
