---
import { papers } from "../publications.json";
---

  <h2>Publications</h2>
  {
    papers.map((paper) => (
      <p>
        <h3>{paper.title}</h3>
        <b>Published in {paper.location}</b>
<br>
           <a href={paper.href}>Read the full paper</a>
      </p>
  <hr>
    ))
  }
