---
import { papers } from "../publications.json";
---

<article class="relative minimalist">
  <h2>Publications</h2>
  {
    papers.map((paper) => (
      <p>
        <strong>{paper.title}</strong>
  <br>
  <br>
        <b>Published in {paper.location}</b>
           <a href={paper.href}>Read the full paper</a>
      </p>
  <hr>
    ))
  }
</article>
