---
import "@fontsource/poppins";
import Download from "../components/Download.astro";
import Header  from "../components/Header.astro";
import Career  from "../components/Career.astro";
import Projects  from "../components/Projects.astro";
import Skills  from "../components/Skills.astro";
import Publications  from "../components/Publications.astro";
import "../styles.css";

export interface Props {
  title: string;
  pdfLink?: string;
  noIndex?: boolean;
}

const { title, pdfLink, noIndex } = Astro.props.frontmatter as Props;
---

<!DOCTYPE html>
<html data-theme="fantasy" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    {noIndex && <meta name="robots" content="noindex" />}
    <title>{title}</title>
  </head>
  <body class="my-0 sm:my-14">
    <div class="container flex flex-col justify-center mx-auto">
      <div class="absolute px-4 py-1 top-4 sm:top-12 sm:left-8 rounded-sm">
      </div>
      {
        pdfLink && (
          <div class="not-prose absolute right-4 top-4">
            <Download href={pdfLink} />
          </div>
        )
      }
        <article class="relative minimalist">
      <Header/>
          <slot />
        </article>
      <Career class="relative minimalist"/>
      <Projects class="relative minimalist"/>
      <Skills class="relative minimalist"/>
      <Publications class="relative minimalist"/>
    </div>
  </body>
</html>
